@page "/Account";
@attribute [Authorize];

@inject AuthenticationStateProvider authProvider;
@inject NavigationManager navManager;
@inject IUserData userData;

<a href="/MicrosoftIdentity/Account/EditProfile">Edit Account</a>

<div>
    Name: @loggedInUser?.DisplayName
    <br/>
    Email: @loggedInUser?.Email
    <br/>
    Created: @loggedInUser?.CreatedAt.ToShortDateString()
</div>

@code {
    private UserModel loggedInUser;

    protected async override Task OnInitializedAsync() {
        loggedInUser = await authProvider.GetUserFromAuth(userData);
    }
}