@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@page "/"

@inject ProtectedLocalStorage localStorage;
@inject NavigationManager navManager;

@inject IConversationData conversationData;
@inject IUserData userData;

<div class="navbar">
    <button @onclick="@(()=>navManager.NavigateTo("/Account"))">
        Account
    </button>
</div>

<div class="menu">
    <button @onclick="Toggle">
        <div>Chats</div>
        <div>Friends</div>
    </button>
    @*
    @{
        void ShowFriend(User friend) {
            <div>@friend.DisplayName</div>
        }

        void ShowConversation(Conversation conversation) {
            <div>@conversation.Name</div>
        }

        if (selectedToggle == MenuToggle.Chats) {
            friends.ForEach(friend => ShowFriend(friend));
        } else {
            conversations.ForEach(convo => ShowConversation(convo));
        }
    }
    *@
</div>

@code {
    private List<Conversation> conversations;
    private List<User> friends;

    private enum MenuToggle { Friends, Chats };
    private MenuToggle selectedToggle;

    protected async override Task OnInitializedAsync() {
        // populate friends/conversations
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) return;

        var toggleResults = await localStorage.GetAsync<MenuToggle>("MenuToggle");
        selectedToggle = toggleResults.Success ? toggleResults.Value : MenuToggle.Chats;
    }

    private async void Toggle() {
        selectedToggle = selectedToggle == MenuToggle.Chats ? MenuToggle.Friends : MenuToggle.Chats;
        await localStorage.SetAsync("MenuToggle", selectedToggle);
    }

    private void GetFriends() {

    }

    private void GetConversations() {
        
    }
}