@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@page "/"

@inject NavigationManager navManager;
@inject ProtectedSessionStorage sessionStorage;

<div class="navbar">
    <button @onclick="@(()=>navManager.NavigateTo("/Account"))">
        Account
    </button>
</div>

<div class="menu">
    <button @onclick="Toggle">
        <div>Chats</div>
        <div>Friends</div>
    </button>
</div>

@code {
    private enum MenuToggle { Friends, Chats };
    private MenuToggle ChosenToggle = MenuToggle.Chats;
    private List<Conversation> Conversations;
    private List<User> Friends;

    private void Toggle() {
        Console.WriteLine(ChosenToggle);
        ChosenToggle = ChosenToggle == MenuToggle.Chats ? MenuToggle.Friends : MenuToggle.Chats;
    }

    private void GetFriends() {

    }

    private void GetConversations() {
        
    }
}