* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

::-webkit-scrollbar-track:hover {
    background-color: #ddd;
}

.navbar-nav {
    font-size: 1.5em;
}

.navbar-brand {
    font-weight: bold;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.full-height-minus-navbar {
    margin-top: 80px;
    height: calc(100vh - 80px);
}

.nav-link {
    color: white;
}

.list-group-item {
    background-color: #7756b0;
    color: white;
}

.list-group-item:hover,
.list-group-item:focus {
    background-color: #513d76;
}

.list-group-item.active {
    background-color: #3f325c;
}
